.product-container {
  width: 100%;
}

.ant-layout-header {
  height: 60px;
  color: white;
  line-height: 64px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ant-card-bordered {
  border: 1px solid #f0f0f0;
  height: 100%;
  width: 100%;
  .ant-card-cover {
    padding: 10px;
  }
}

.img-card {
  width: 100%;
  height: 250px;
  @media only screen and (max-width: 768px) {
    height: 150px;
    width: 100%;
  }
}

.card-text {
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 768px) {
    height: 100%;
  }
}

.ant-row {
  display: flex;
  justify-content: center;
}

.ant-col-12 {
  display: block;
  flex: 0 0 25%;
  max-width: 20%;
  margin: 5px;

  @media only screen and (max-width: 768px) {
    flex: 0 0 50%;
    max-width: 40%;
  }
}

.pagination-card {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.page-link {
  margin: 10px;
}

.ant-card-body {
  padding: 10px;
}

.ant-btn-danger {
  color: #fff;
  background: #ff4d4f;
  border-color: #ff4d4f;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 30px;
  margin-top: 1rem;
}
