.product-detail {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  flex-direction: unset;
  height: 90vh;

  @media only screen and (max-width: 768px) {
    height: 90vh;
  }

  .ant-card-bordered {
    border-radius: 30px;
    width: 450px;
    height: 570px;

    @media only screen and (max-width: 768px) {
      width: 380px;
    }

    .ant-card-cover {
      padding: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      img {
        width: 200px;
        border-radius: 30px;
      }
    }
  }

  .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 8px;
    font-size: 2rem;
}
.ant-card-meta-description {
  color: rgba(0, 0, 0, 0.50);
  font-size: 1.5rem;
}

.ant-card-body {
 padding-bottom: 3rem;
}

.ant-card-actions > li > span > .anticon {
  font-size: 35px;
  line-height: 22px;
}

.ant-card-actions {
  list-style: none;
  border-radius: 50px;
  margin-bottom: 1rem;
}

.ant-card-actions > li {
  border-radius: 30px;
  float: left;
  margin: 12px 0;
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
}

}
